.shorten-url {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*height: 100vh;*/
}
.shorten-url__title {
    font-size: 26px;
    margin: 30px 0;
}
.shorten-url__input {
    margin: 30px 0;
    width: 70%;
    padding: 5px 10px;
}
.shorten-url__result-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}